# Ignore everything
**

# Add required files only
!/backend/
/backend/Dockerfile

!/frontend/
/frontend/node_modules/
/frontend/Dockerfile

# Ignore devspace.yaml file to prevent image rebuilding after config changes
devspace.yaml
