# Ignore everything
**

# Add required files only
!/backend/
/backend/Dockerfile

!Pipfile
!Pipfile.lock

!/frontend/build/

# Ignore devspace.yaml file to prevent image rebuilding after config changes
devspace.yaml
