# Ignore everything
**

# Add required files only
!/backend/
/backend/Dockerfile

!pyproject.toml
!poetry.toml
!poetry.lock

!/frontend/build/

# Ignore devspace.yaml file to prevent image rebuilding after config changes
devspace.yaml
