[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.2"
django-environ = "~=0.4"
django-su = "~=0.9"
djantic = "~=0.3"
fastapi = "~=0.65"
jose = "~=1.0"
python-jose = "~=3.2"
psycopg2-binary = "~=2.8"
django-model-utils = "~=4.1"
channels = "~=3.0"
channels-redis = "~=3.2"
django-redis = "~=4.12"
python-multipart = "~=0.0"
marshmallow = "~=3.12"
django-ratelimit = "~=3.0"
pydantic = "~=1.8"
Twisted = {version = "~=21.2", extras = ["http2", "tls"], platform_system = "!='Windows'" }
uWSGI = {version = "~=2.0", platform_system = "!='Windows'" }
async-timeout = "~=3.0.1"

[dev-packages]
pytest = "~=6.2"
pytest-django = "~=4.2"
pytest-pythonpath = "~=0.7"
pytest-cov = "~=2.12"
pytest-env = "~=0.6"
pytest-mock = "~=3.6"
black = "~=21.5b1"
unify = "~=0.5"
pylint = "~=2.8"
pylint-django = "~=2.4"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
