channels
channels_redis
Django
daphne
django-dbsettings
django-environ
django-model-utils
django-ratelimit
django-redis
django-su
hiredis
fastapi
marshmallow
psycopg2-binary
Twisted[tls,http2]
uvicorn
uwsgi
idna<3